* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    width: 20px;
    height: 20px;
    /* border: 2px solid; */
    background-color: rgb(130, 14, 37);
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(11, 64, 37);
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto; 
    height: 700px;

    /* display: grid; 
    grid-template-columns: repeat(3, 200px); */
}

.--active {
    background-color: black;
}